$cassgvp-green: #81b29a;
$cassgvp-navey: #3d405b;
$cassgvp-offwhite: #f4f1de;
$cassgvp-orange: #e07a5f;

$link-color: $cassgvp-green;
$btn-primary-color: $cassgvp-orange;
$body-heading-color: $cassgvp-navey;
$sidebar-color: $cassgvp-offwhite;
// $link-color: $blue-000;
