$cassgvp-green: #81b29a;
$cassgvp-navey: #3d405b;
$cassgvp-offwhite: #FCFAE9;
$cassgvp-orange: #D3725A;

$link-color: $cassgvp-orange;
$btn-primary-color: $cassgvp-green;
$body-heading-color: $cassgvp-navey;
$sidebar-color: $cassgvp-offwhite;
// $link-color: $blue-000;
